@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-Primary: #ff014f;
  --color-Navbar: #1a0b2e;
  --color-Background: #11071f;
  --color-mint-500: oklch(0.72 0.11 178);
  --font-Roboto: "Roboto", sans-serif;
}

@layer utilities {
  * {
    @apply p-0 m-0 box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-Roboto;
  }

  .center {
    @apply max-w-[1460px] mx-auto px-5 md:px-7 lg:px-8 2xl:px-28;
  }

  .banner {
    background-image: url("./assets/banner-background-one.jpg");
    background-size: cover; /* To ensure the image covers the entire banner */
    background-position: center; /* To center the image */
    background-repeat: no-repeat; /* To prevent the image from repeating */
    /* height: 400px; You can adjust the height based on your need */
  }

  /* .navLinks a.active {
    @apply bg-pink-600/10 text-[#ff014f];
  } */

  #tsparticles {
    position: fixed; /* অথবা absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* সব কন্টেন্টের নিচে রাখবে */
  }

  .hero-ring {
    @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-[0_0_80px_inset] shadow-Navbar -z-10 border-Navbar;
  }
}
