@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-Primary: #ff014f;
  --color-Navbar: #1a0b2e;
  --color-Background: #11071f;
  --color-mint-500: oklch(0.72 0.11 178);
  --font-Roboto: "Roboto", sans-serif;
}

@layer utilities {
  * {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply font-Roboto;
  }

  .center {
    @apply max-w-[1460px] mx-auto px-5 md:px-7 lg:px-8 2xl:px-28;
  }

  .banner {
    background-image: url("./assets/banner-background-one.jpg");
    background-size: cover; /* To ensure the image covers the entire banner */
    background-position: center; /* To center the image */
    background-repeat: no-repeat; /* To prevent the image from repeating */
    /* height: 400px; You can adjust the height based on your need */
  }
}
